# Apache2 site-conf for Banana
<VirtualHost *:80>
    ServerName {{ banana_domain }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    WSGIDaemonProcess banana-master user=www-data python-path={{ banana_repo_path }}

    WSGIScriptAlias /{{ banana_version_shortname }} {{ banana_repo_path }}/project/wsgi.py
    <Location /{{ banana_version_shortname }}>
        WSGIProcessGroup {{ banana_version_shortname }}
        WSGIApplicationGroup %{GLOBAL}
    </Location>
    Alias /{{ banana_version_shortname }}/static/ {{ banana_repo_path }}/static/
    <Directory {{ banana_repo_path }}/project/ >
        <Files wsgi.py>
            <IfVersion < 2.4>
                Order deny,allow
                Allow from all
            </IfVersion>
            <IfVersion >= 2.4>
                Require all granted
            </IfVersion>
        </Files>
    </Directory>

    <Directory {{ banana_repo_path }}/static/>
        <IfVersion < 2.4>
            Order deny,allow
            Allow from all
        </IfVersion>
        <IfVersion >= 2.4>
            Require all granted
        </IfVersion>
    </Directory>


</VirtualHost>
