# Defines a subdirectory of banana.domainname, for a specific version of banana.

WSGIDaemonProcess {{ banana_apache_process }} user=www-data python-path={{ banana_repo_path }}

WSGIScriptAlias /{{ banana_url_subdir }} {{ banana_repo_path }}/project/wsgi.py
<Location /{{ banana_url_subdir }}>
    WSGIProcessGroup {{ banana_apache_process }}
    WSGIApplicationGroup %{GLOBAL}
</Location>
Alias /{{ banana_url_subdir }}/static/ {{ banana_repo_path }}/static/
<Directory {{ banana_repo_path }}/project/ >
    <Files wsgi.py>
        <IfVersion < 2.4>
            Order deny,allow
            Allow from all
        </IfVersion>
        <IfVersion >= 2.4>
            Require all granted
        </IfVersion>
    </Files>
</Directory>

<Directory {{ banana_repo_path }}/static/>
    <IfVersion < 2.4>
        Order deny,allow
        Allow from all
    </IfVersion>
    <IfVersion >= 2.4>
        Require all granted
    </IfVersion>
</Directory>